<template name="postItem">
  <div class="post">
    <div class="post-content">
      <a href="#" class="upvotable btn btn-default {{upvotedClass}}">⬆ </a>
      <h3><a href="{{pathFor 'postPage'}}">{{title}}</a>
      <span>Submitted by {{username}}</span></h3>
      <!-- show full message for now (will want to show it partially) -->
      <div class="message">{{message}}</div>
      <p>
        {{pluralize votes "Vote"}}
      </p>
      <a href="{{pathFor 'postPage'}}">{{pluralize commentsCount "comment"}}</a>
      {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
    </div>
    <a href="{{pathFor 'postPage'}}" class="discuss btn btn-default">Comment</a>
  </div>
</template>
